.tour__img img{
    width: 100%;
    border-radius:5px 5px 0 0;
}
.card {
    border:none !important;
    box-shadow: rgba(0,0,0 0.2) 0px 18px 50px -10px;
    text-decoration:none;
}

.tour__img{
    position:relative;
}

.tour__img button{
  
    width: max-content;
    height: max-content;
    z-index:10;
    background: var(--secondary-color);
    color:#fff;
}